<h1>Create A New Blog</h1>

<%= form_with scope: :blog, url: blogs_path, local: true do |form| %>
<table class=".table-condensed">
<% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@blog.errors.count, "error") %> prohibited
        this blog from being saved:
      </h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :Category %><br><br>
    <%= form.select(:category, Category.all.collect {|u| [u.name, u.id]}, :prompt => 'Select Category') %>
  </p>

  <p>
    <%= form.label :Upload_Image %><br><br>
    <%= form.file_field :image%>
  </p>
 
  <p>
    <%= form.label :Description %><br>
    <%= form.text_area :description, :cols => 50, :rows => 10 %>
  </p>
  <p>
    <%= form.submit %>
  </p>
  </table>
  <%end%>

