<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--img src="bittern/Pro/blogger/app/assets/images/Blogger_logo.svg.png"/-->
          <%= image_tag("Blogger_logo.svg.png", :alt => "Blogger", :size => "240x80") %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:3000">Home</a></li>
            <li><a href="http://localhost:3000/blogs">Blogs</a></li>
            <li><a href="http://localhost:3000/blogs/new">Create New Blog</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<h1>Create A New Blog</h1>
<%= form_with scope: :blog, url: blogs_path, local: true do |form| %>
<table class=".table-condensed">
<% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@blog.errors.count, "error") %> prohibited
        this blog from being saved:
      </h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :phone_number %><br>
    <select name="blog[country_code]">
      <%# You can use name instead of alpha3 it will show you  %>
      <% ISO3166::Country.countries.sort_by(&:name).each do |country| %>
        <option value="+<%= country.country_code%>">
          <%= "+#{country.country_code} #{country.alpha3}" %>
        </option>
      <%end%>
    <%= form.text_field :title %>
    </select>
    <%#= select_tag :country, options_from_collection_for_select(ISO3166::Country.countries.sort_by(&:name), 'country_code', ('alpha3')) %>
  </p>
  <p>
    <%= form.label :Category %><br><br>
    <%= form.select(:category, Category.all.collect {|u| [u.name, u.id]}, :prompt => 'Select Category') %>
  </p>

  <p>
    <%= form.label :Upload_Image %><br><br>
    <%= form.file_field :image%>
  </p>
 
  <p>
    <%= form.label :Description %><br>
    <%= form.text_area :description, :cols => 50, :rows => 5 %>
  </p>
  <p>
    <%= form.submit %>
    <%= image_tag("blog-1.jpg", :alt => "Blog", :size => "300x100") %>
  </p>
  </table>
  <%end%>

